.AddTask {
  background: #efefef;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.AddTask .form {
  padding: 2rem;
  width: 40rem;
  background: #fff;
}

.AddTask .icon {
  margin: 0 0.6rem 0 0;
}

.AddTask input[type="text"] {
  line-height: 1.6rem;
  font-size: 1.6rem;
}

.AddTask input[type="text"]::placeholder {
  font-size: 1.6rem;
}

.AddTask .submit {
  display: grid;
  place-content: center;
}
