@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-height: 100vh;
  min-width: 100%;
  font-size: 62.5%;
}

.App {
  height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  display: flex;
}

.App .column {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

.App .column h4 {
  margin-bottom: 1rem;
  width: 100%;
}

.App .column .droppable-col {
  background: gray;
  padding: 1.5rem 2rem;
}

.App .column .droppable-col .droppable-item {
  color: #fff;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
}

.App .column .droppable-col .droppable-item:last-child {
  margin-bottom: 0;
}
